doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

  body
    header.header
      h1 #{title}
    .container
      .card-group
        each coniglio in conigli
          .card
            a(href=`/infoCo?id=${coniglio.id}`)
              img.card-img-top(src=`immagini/${coniglio.immagine}`, alt=coniglio.nome)
            .card-body
              h5 Nome della razza:
              p #{coniglio.nome}
            a(href=`/infoCo?id=${coniglio.id}`) CLICCA PER INFORMAZIONI SPECIFICHE SULLA RAZZA
