doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style.
      .info-image {
        flex: 0 0 50%;
        background: url('/immagini/#{cane.immagine}') no-repeat;
        background-size: cover;
        height: 700px; 
        width: 900px
      }
  body
    header.header
      h1= title
    div.info-container
      div.info-image
      div.info-details
        h1 #{cane.nome}
        h2 #{cane.descrizione}
        h5 Anni di vita medi:
        p #{cane.anni_vita}
        h5 Amichevole con i bambini?
        p
          if cane.amichevole_con_bambini
            | Si
          else
            | No
        h5 Dimensioni medie da adulto:
        p #{cane.dimensioni_medie}
        h5 Costo di mantenimento mensile:
        p €#{cane.costo_mantenimento_mensile}
        h5 Prezzo di vendita:
        p €#{cane.costo_acquisto}
